//Fonts Colors
$primary_color: #fff;
$secundary_color: #000;

$brand_color_100: #f8d4da;
$brand_color_200: #f1acb4;
$brand_color_300: #e9858d;
$brand_color_400: #e05e67;
$brand_color_500: #d73741;
$brand_color_600: #bc2635;
$brand_color_700: #a1192b;
$brand_color_800: #851022;
$brand_color_900: #c3062c;

//Suport colors
$support_color_err: #cc0014;
$support_color_rght: #00aa64;
$support_color_mesg: #657ff0;

//Neutral colors
$neutral_color_900: #000000;
$neutral_color_800: #151515;
$neutral_color_700: #2c2c2c;
$neutral_color_600: #555555;
$neutral_color_500: #808080;
$neutral_color_400: #a9a9a9;
$neutral_color_300: #d3d3d3;
$neutral_color_200: #eeeeee;
$neutral_color_100: #ffffff;
